@import "core";

.button {
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: $m;
  line-height: 14px;
  padding: 7px 22px;

  &Primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: darken($primary, 1.2);
    }

    &:focus {
      border-color: $text;
    }

    &:active {
      background-color: $text;
    }
  }

  &Secondary {
    background-color: $secondary;
    color: $text;

    &:hover {
      background-color: $secondary;
    }

    &:focus {
      border-color: lighten($primary, 0.2);
    }

    &:active {
      background-color: lighten($primary, 0.2);
    }
  }

  &Large {
    font-size: $l;
    line-height: 16px;
    padding: 13px 22px 15px;
  }

  &:disabled,
  &Disabled {
    opacity: 0.4;
    pointer-events: none !important;
  }
}
